/* Style for mypantry Site */
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin|Source+Sans+Pro");


.flash-msg {
    background-color: rgb(242, 240, 248);
    font-family: Arial, ui-rounded, sans-serif;
    text-align: center;
}


.image-container { 

  background-image: url("img/homepage..jpg");
  background-size: cover;
  position: relative;
  height: 700px;

  
}

.text{

    background-color: rgb(22, 21, 21);
    color: rgb(240, 234, 234);
    font-size: 2vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 50%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 55%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: multiply; /* This makes the cutout text possible */
    transition: all 0.2s ease-in-out

}
  text:hover {
      box-shadow: 0 4px 4px 0 rgba(211, 195, 195, 0.3);
    } 



body{
  background-image: url("img/secondary.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


h1 {
    position:sticky;
    font-family: "Open Sans", sans-serif;
    font-family: bold;
    color: hsl(99, 12%, 36%);
    align-self: center;
    text-align-last: center;
    /* text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px; */
}
h1.display-4{
  font-size: calc(0.275rem + 2.8vw);
  font-weight: 100;
  line-height: 1.5;
  margin-left: 10%;
  
}

h2 {
    color: rgb(128, 68, 0);
    font-weight: initial;
    font-family: "Open Sans", sans-serif;
}
h4 {
   
  color:rgb(12, 61, 45);
  margin: 1.5rem;

}

 
nav {
    display: flex;
    gap: 1.5rem;
  }
  
  a {
    flex: 1;
    /* background-color: rgb(172, 80, 80); */
    color: rgb(66, 19, 19);
    border: 1px round;
    padding: 0.5rem;
    /* text-align: center; */
    text-decoration: none;
    transition: all 0.5s ease-out;
  }
  
  a:hover,
  a:focus {
    background-color: rgb(138, 135, 135);
    color: rgb(33, 197, 115);
  }
  
  div#fleft {
    display: block !important;
    /* background-color: rgb(116, 187, 125) !important; */
    width: 300px !important;
    height: 800px !important;
    float: left !important;
    margin-left: 70px !important;
}
div#fright {
    display: block !important;
    /* background-color: rgb(116, 187, 125) !important; */
    width: 300px !important;
    height: 600px !important;
    float: left  !important;
    margin-left: 70px !important;
}
.title {
    width: 600%;
  }
  
button#entry-submit {
    background-color: hsl(97, 20%, 63%);
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
  }
  button#entry-submit:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }

button#entry-submit-form {
    background-color: hsl(97, 20%, 63%);
    width: 25%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
  }
  button#entry-submit-form:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }
img.rounded.float-left{
  align-items:center;
  display: flex;
  width: 100%;
  flex-direction: row;
  /* padding-left: revert; */
  /* margin: 25px; */
  border-radius: .50rem !important;
}

img.rounded.float-right{
  align-items:center;
  display: flex;
  width: 100%;
  flex-direction: row;
  /* padding-left: revert; */
  /* margin: 25px; */
  border-radius: .50rem !important;
}

img.card-img-top{
  width: 30%;
  border-top-left-radius: calc(.50rem - 1px);
  border-top-right-radius: calc(.50rem - 1px);
  align-items: center;
  transition: all 0.2s ease-in-out
}
  img.card-img-top:hover{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  }

/* enter recipe form css  */

select#addpantryingredients.form-control{
  width: 50%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.09);
  width: 50%;
  
}

div.card-body{
  margin: 1.5px;
  width: 100%;
  align-self: left;
  /* background-image: url("img/secondary.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  font-family: "Source Sans Pro", sans-serif
}
div.form-group{
  text-align-last: left;


}
textarea#add_recipe_instructions.form-group {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  left: 10%;
  background-color: #e1e1e1;
  resize: none;
  
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.09);
  width: 50%;
}
input.form-control{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.09);
  width: 50%;

}
.form-control{
  background-color: #e1e1e1;
  width: 50%;

}

/* recipedetails page css */
body.recipedetail{
  background-color: #f0ecec;
  background-image: none;
}
div.card.text-center
{
  background-image: url("img/secondary.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

div.mainrecipe{
  display: grid;
  gap: 5rem;
}
.recipe-icons {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr); 
  gap: 2rem;
  margin: 1rem 0;
  text-align: center;
}
.recipe-icons i {
  font-size: 1.5rem;
  color: var(--primary-500);
}
.recipe-icons h5,
.recipe-icons p {
  margin-bottom: 0;
  font-size: 0.85em;
}

.recipe-icons p {
  color: var(--grey-600);
}
.recipe-img{
  height: 400px;
  align-self: center;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.09);
}

.form-check{
  display: grid;
  align-self: right;
  right: 70%;
}
