/* Style for mypantry Site */
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin|Source+Sans+Pro");


.flash-msg {
    background-color: rgb(242, 240, 248);
    font-family: Arial, ui-rounded, sans-serif;
}

/* MY HOMEPAGE */

body > .homepage{

  font-family: "Source Sans Pro", sans-serif;

}


.imageContainer { 

  position: absolute;
  
}
.homepage-image {
    
    position: inherit;
    width: 1000px;
    height: 965px;
    left: 536px;
    top: 59px;
    padding-left: 50px;
    padding-top: 50px;
}
.log-in-form {

  position: absolute;
  width: 230px;
  height: 147px;
  left: 159px;
  top: 258px;
}

h1 {
    position:sticky;
    font-family: "Open Sans", sans-serif;
    font-family: bold;
    color: hsl(97, 20%, 63%);
    background-color: hsl(22, 70%, 36%);
    align-self: center;
    text-align-last: center;
    /* text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px; */
}

h2 {
    color: rgb(128, 68, 0);
    font-weight: initial;
    font-family: "Open Sans", sans-serif;
}

 
nav {
    display: flex;
    gap: 1.5rem;
  }
  
  a {
    flex: 1;
    /* background-color: rgb(172, 80, 80); */
    color: rgb(66, 19, 19);
    border: 1px round;
    padding: 0.5rem;
    /* text-align: center; */
    text-decoration: none;
    transition: all 0.5s ease-out;
  }
  
  a:hover,
  a:focus {
    background-color: #fff;
    color: #333;
  }
  
  div#fleft {
    display: block !important;
    background-color: rgb(230, 191, 175) !important;
    width: 400px !important;
    height: 900px !important;
    float: left !important;
    margin-left: 100px !important;
}
div#fright {
    display: block !important;
    background-color: rgb(230, 191, 175) !important;
    width: 400px !important;
    height: 900px !important;
    float: left  !important;
    margin-left: 100px !important;
}
.title {
    width: 600%;
  }
  
button#entry-submit {
    background-color: #dd8156;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
  }
  button#entry-submit:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }
  