/* Style for mypantry Site */
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin|Source+Sans+Pro");


.flash-msg {
    background-color: rgb(242, 240, 248);
    font-family: Arial, ui-rounded, sans-serif;
    text-align: center;
}

/* MY HOMEPAGE */

/* .homepage{

  font-family: "Source Sans Pro", sans-serif;
  
} */


.image-container { 

  background-image: url("img/MyPantry.jpg");
  background-size: cover;
  position: relative;
  height: 700px;

  
}

.text{

    background-color: rgb(22, 21, 21);
    color: rgb(240, 234, 234);
    font-size: 2vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 50%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: multiply; /* This makes the cutout text possible */
    transition: all 0.2s ease-in-out

}
  text:hover {
      box-shadow: 0 4px 4px 0 rgba(211, 195, 195, 0.3);
    } 

/* .log-in-form-modal {

  position: absolute;
  width: 230px;
  height: 147px;
  left: 159px;
  top: 258px;
} */

h1 {
    position:sticky;
    font-family: "Open Sans", sans-serif;
    font-family: bold;
    color: hsl(97, 20%, 63%);
    align-self: center;
    text-align-last: center;
    /* text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px; */
}

h2 {
    color: rgb(128, 68, 0);
    font-weight: initial;
    font-family: "Open Sans", sans-serif;
}

 
nav {
    display: flex;
    gap: 1.5rem;
  }
  
  a {
    flex: 1;
    /* background-color: rgb(172, 80, 80); */
    color: rgb(66, 19, 19);
    border: 1px round;
    padding: 0.5rem;
    /* text-align: center; */
    text-decoration: none;
    transition: all 0.5s ease-out;
  }
  
  a:hover,
  a:focus {
    background-color: #fff;
    color: #333;
  }
  
  div#fleft {
    display: block !important;
    background-color: rgb(223, 215, 213) !important;
    width: 400px !important;
    height: 900px !important;
    float: left !important;
    margin-left: 100px !important;
}
div#fright {
    display: block !important;
    background-color: rgb(223, 215, 213) !important;
    width: 400px !important;
    height: 900px !important;
    float: left  !important;
    margin-left: 100px !important;
}
.title {
    width: 600%;
  }
  
button#entry-submit {
    background-color: #dd8156;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
  }
  button#entry-submit:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }

button#entry-submit-form {
    background-color: #31323d;
    width: 25%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
  }
  button#entry-submit-form:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  }
img.rounded.float-left{
  align-items:center;
  display: flex;
  width: 350px;
  flex-direction: row;
  padding-left: revert;
  margin: 25px;
  border-radius: .50rem !important;
}

img.rounded.float-right{
  align-items:center;
  display: flex;
  width: 350px;
  flex-direction: row;
  padding-left: revert;
  margin: 25px;
  border-radius: .50rem !important;
}
select#addpantryingredients.form-control{
  width: 100%;
  text-align: center;
  left: 20%;
  border-radius: .50rem
}
img.card-img-top{
  width: 30%;
  border-top-left-radius: calc(.50rem - 1px);
  border-top-right-radius: calc(.50rem - 1px);
  align-items: center;
  transition: all 0.2s ease-in-out
}
  img.card-img-top:hover{
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  }