/* .wrap {
    width: 100%;
    overflow: auto;
    } */

div#fleft {
    display: block !important;
    background-color: blue !important;
    width: 300px !important;
    height: 500px !important;
    float: left !important;
    margin-left: 50px !important;
}

.fright {
    display: block;
    float: right;
    background-color:pink;
    height: 300px;
    width: 150px;
}
    