{% extends 'base.html' %} {% block title %}All Recipes{% endblock %} {% block body %}

<body>
<div class="container">
  {% for recipe in recipes %}
  <div class="row">
    <div class = 'col'>
    <div class="card-deck">
      <div class="card">
    
    <div class="card" href="/recipes/{{ recipe.recipe_id }}">
       
      <img class="card-img-top" src="{{ recipe.image_url }}" alt="Card image cap"> 
      <div class="card-body">
        <h5 class="card-title"><a href="/recipes/{{ recipe.recipe_id }}">{{ recipe.name }}</a></h5>
        <p class="card-text">Recipe created by: {{ recipe.user.name }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated {{ recipe.updated_at }}</small>
      </div>
    </div>
  </div>
    </div>    
    {% endfor %}
  </div>
</div>
</div>

  {% endblock body %}
</body>