<!doctype html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- CSS only-->
    <link rel="stylesheet" href="/static/style.css">

 
    <title>
      {% block title %}
        My Pantryy
      {% endblock %}
    </title>


    {% block head %}

    {% endblock %}
    </head>

  <body>

    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %}
    
    

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>

  <header   
    <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <a class="Ubermelon-brand" href="#">Ubermelon</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="#">Contact</a>
          </li>
        </ul>

        <ul>
        <li class="nav-item">
          <a class="nav-link active text-white" href="#">Shop</a>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="#">fav Melons</a>
          </li>
        
        <li class="nav-item">
          <a class="nav-link active text-white" href="#">Settings</a>
        
        <li class="nav-item">
          <a class="nav-link active text-white" href="#">Profile</a>
        
            
            
        </ul>
        
      </div>
    </div>
  </nav>
  </header>


</html>