{% extends 'base.html' %}
{% block body %}





<div class="homepage">

   
      <div class="image-container">
        <!-- <div class = "text">An easy way to decide what to cook!</div> -->
        <!-- <img src="static/img/MyPantry.jpg" class="homepage-image"/> -->
       
          </div>
        

<!-- Log in modal -->
<div class="log-in-form-modal">
<!-- Button trigger modal -->
<button type="button" class="text" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Enter MyPantry 
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please log In</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST">
            Email 
            <p><input type="text" name="email"></p>
            Password 
            <p><input type="password" name="password"></p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" id = "entry-submit-form" data-bs-dismiss="modal">Close</button> -->
        <button type="submit" class="btn btn-primary" id = "entry-submit-form">Log In</button>
        </form>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>





      </div>
  </div>
</div>
        


  




{% endblock %}