{% extends 'base.html' %}
{% block body %}
  <h1>Welcome to MyPantry!</h1>


  <h4>Log In</h4>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <p>
    <small>New to the site? Now is a good time to create an account!</small>
  </p>
  <h4>Create an Account</h4>
  <form action="/newusers" method="POST">
    <p>
      Name <input type="text" name="name">
    </p>
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>


{% endblock %}