{% extends 'base.html' %} {% block title %}Find Recipes{% endblock %} {% block body %}




    <div class="card text-center">
      
        <div class="card-body">
          <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">Select ingredients, find recipes</h1>         
           
            <form action="/pantryitems" method="GET">
                <label for="addpantryingredients"></label>
                <select multiple class="form-control" id="addpantryingredients" name ="addpantryingredients" style="align-self: center;">
                      
                  {% for ingredient in ingredients %}
                      <option>{{ ingredient.name }}</option>
                  {% endfor %}
              </select>
              <br>
            </div>      <br>
          <div
           style="text-align: left;">Get all the recipes you can cook with each of your ingredients
          <br>
          <br>
            </div>
          
          <button type="submit" class="btn btn-primary mb-2" id="entry-submit-form">Search</button>
        </div>
        <!-- <div class="card-footer text-muted">
          last search: 2 days ago
        </div> -->
      </div>
    
   



{% endblock %}