{% extends 'base.html' %} {% block title %}List Recipes{% endblock %} {% block body %}

<div class="container-fluid">
    
    {% for ingredient, recipe_list in recipes.items() %}
    <h3>{{ ingredient }}</h3>
    <ul>
        {% if recipe_list %}
            {% for recipe in recipe_list %}
                <li><a href= "/recipes/{{ recipe.recipe_id }}">{{ recipe.name }}</a></li>
            {% endfor %}
        {% else %}
            <h4>No recipes found</h4>
        {% endif %}
    </ul>
    {% endfor %}

    <h2>All ingredient</h2>
    <ul>
        {% if all_recipes %}
            {% for recipe in all_recipes %}
                <li><a href= "/recipes/{{ recipe.recipe_id }}">{{ recipe.name }}</a></li>
            {% endfor %}
        {% else %}
            <h4>No recipes found</h4>
        {% endif %}
    </ul>
    


    {% endblock body %}
    