{% extends 'base.html' %} {% block title %}List Recipes{% endblock %} {% block body %}

<div class="container-fluid">
    <h1> {{ recipe.name }} </h1>
    <h2> {{ recipe.recipe_id }}</h2>
    
    <ul>
        <li>
                
              {{ recipe.instructions }}
              <br>
              {{ recipe.user.name }}
              <br>
              {% for ingredient in recipe.recipe_ingredients %}
              <li>{{ ingredient.ingredient.name }}</li>
              {% endfor %}
        </li>
    </ul>
</div>
 <!-- Like button     -->
<div class="form-check">
    <form action = "/like" method="POST">
        
        {% if liked %}
        <button type="button" class="btn btn-primary mb-2" disabled>Liked </button> 
        

        {% else %}
        <button type="submit" class="btn btn-primary mb-2" >Like this recipe?</button> 
       
        
        {% endif %}  
       

       
        
        <input type="hidden" id="recipeId" name="recipe_id" value={{ recipe.recipe_id }}></input>
    </form>
<p><strong> This recipe has been liked {{ recipe.likes|length }} times </strong></p>

      
{% endblock body %}


<script> </script>