{% extends 'base.html' %} {% block title %}List Recipes{% endblock %} {% block body %}

<div class="container">
    <div class="row">
        <div class="jumbotron jumbotron-fluid">
            <div class = "col-12" >
                <h1 class="display-4">{{ recipe.name }}</h1>         
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
    <div class = "mainrecipe">
    <img src="{{ recipe.image_url }}" class="recipe-img" style="height: 300px;"  alt="recipe_image">
    </div>
</div>
<div class="recipe-icons">
    <article>
          <i class="fas fa-clock"></i>
          <h5>prep time</h5>
          <p>{{ recipe.prep_time}}</p>
    </article>
    <article>
          <i class="far fa-clock"></i>
          <h5>cook time</h5>
          <p>{{ recipe.cooking_time }}</p>
    </article>
    <article>
        <i class="fa fa-heart"></i>
        <h5>Likes</h5>
        <p>{{ recipe.likes|length }}</p>
  </article>
    
    <p>{{ recipe.instructions }}</p>
     
      
      <div class="col-6">.col-6<br>Subsequent columns continue along the new line.</div>
    </div>
  </div>














<div class="container">
    <div>
        <h1 style="text-align: left"></h1>         
        </div>
    
    
    <ul>
        <li>
                
              {{ recipe.instructions }}
              <br>
              {{ recipe.user.name }}
              <br>
              {% for ingredient in recipe.recipe_ingredients %}
              <li>{{ ingredient.ingredient.name }}</li>
              {% endfor %}
        </li>
    </ul>
</div>
 <!-- Like button     -->
<div class="form-check">
    <form action = "/like" method="POST">
        
        {% if liked %}
        <button type="button" class="btn btn-primary mb-2" disabled>Liked </button> 
        

        {% else %}
        <button type="submit" class="btn btn-primary mb-2" >Like this recipe?</button> 
       
        
        {% endif %}  
       

       
        
        <input type="hidden" id="recipeId" name="recipe_id" value={{ recipe.recipe_id }}></input>
    </form>
<p><strong> This recipe has been liked {{ recipe.likes|length }} times </strong></p>

      
{% endblock body %}


<script> </script>