{% extends 'base.html' %} {% block title %}Search Results{% endblock %} 

{% block body %}




    
    
<div class="jumbotron">
    {% if results %}
    <h2 class="display-4">Matching Recipe Found</h2>
    <p class="lead"><a href="/recipes/{{ results.recipe_id }}">{{ results.name }}</a> </p>
    <hr class="my-4">
    {% else %}
    <h1 class="display-4">Sorry, no matching recipe found</h1>
    <p class="lead"><a href="/addarecipe">Would you like to a recipe?</a> </p>
    {% endif %}
  </div>
    

{% endblock body %}








