{% extends 'base.html' %}

{% block title %}{{ user.name }}' pantry  {% endblock %}

{% block body %}



  <div id="fleft">
    <div class = "d-inline-flex p-2"></div>
    <div class = "d-flex" id = "addrecipe_picture"></div>  
    <img src="/static/img/addrecipe.jpg" class="rounded float-left"  >  
    <br>

    <button name = "add_recipe" class="btn btn-primary mb-2" id="entry-submit"><a href = "/addarecipe" >Enter a recipe</a></button>
     
        
  </div>
</div>
    

  <div id="fright">
    <div class = "d-inline-flex p-2" id = "lookuprecipes"></div>
    <img src="/static/img/lookuprecipes.jpg" class="rounded float-right"  >
    <br>

    <button type="submit" class="btn btn-primary mb-2" id="entry-submit"><a href = "/lookuppantry" >Look up recipes</a></button>
    
    </form>
  </div>
</div>

<div id="fright">
  <div class = "d-inline-flex p-2" id = "viewmypantry"></div>
  <img src="/static/img/MyPantry.jpg" class="rounded float-right"  >
  <br>

  <button type="submit" class="btn btn-primary mb-2" id="entry-submit"><a href = "/myprofile" > View my pantry</a></button>
  
  </form>
</div>

</div>

</div>
</div>

{% endblock %}

