{% extends 'base.html' %}

{% block title %}{{ user.name }}' pantry  {% endblock %}

{% block body %}

<!-- <div>
  <h2>My recipes:</h2>
  <ul>
  {% for recipe in user.recipes %}
    <li><a href= "/recipes/{{ recipe.recipe_id }}">{{ recipe.name }}</a></li>
  {% endfor %}
  </ul>
</div>
<div>
  <h2>Recipes I liked:</h2>
  <ul>
  {% for like in user.likes %}
    <li><a href= "/recipes/{{ like.recipe_id }}">{{ like.recipe.name }}</a></li>
  {% endfor %}
  </ul>
</div>





<div class="accordion" id="accordionExample">
  <h2>Previous Pantry submissions</h2>
  {% for key, value in submissions.items() %}

  <div class="accordion-item">
    <h2 class="accordion-header" id="{{ key }}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ 'collapse'+ key }}" aria-expanded="true" aria-controls="collapseOne">
        {{ key }}
      </button>
    </h2>
    <div id="{{ 'collapse'+ key }}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>{{ value }}.</strong> 
      </div>
    </div>
  </div>
  {% endfor %}
</div> -->

</div> 

  <div id="fleft">
    <div class = "d-inline-flex p-2"></div>
    <div class = "d-flex" id = "addrecipe_picture"></div>  
    <img src="/static/img/addrecipe.jpg" class="rounded float-left"  >  
    <br>

    <button name = "add_recipe" class="btn btn-primary mb-2" id="entry-submit"><a href = "/addarecipe" >Enter a recipe</a></button>
     
        
  </div>
</div>
    

  <div id="fright">
    <div class = "d-inline-flex p-2" id = "lookuprecipes"></div>
    <img src="/static/img/lookuprecipes.jpg" class="rounded float-right"  >
    <br>

    <button type="submit" class="btn btn-primary mb-2" id="entry-submit"><a href = "/lookuppantry" >Look up recipes</a></button>
    
    </form>
  </div>
</div>

<div id="fright">
  <div class = "d-inline-flex p-2" id = "viewmypantry"></div>
  <img src="/static/img/MyPantry.jpg" class="rounded float-right"  >
  <br>

  <button type="submit" class="btn btn-primary mb-2" id="entry-submit"><a href = "/myprofile" > View my pantry</a></button>
  
  </form>
</div>

</div>

</div>
</div>

{% endblock %}

